body {
  font-family: "Roboto Slab", serif;
  font-size: 10px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
@media (max-width: calc(1440px - 1px)) {
  html {
    font-size: 9px;
  }
}
@media (max-width: calc(1280px - 1px)) {
  html {
    font-size: 9px;
  }
}
@media (max-width: calc(1024px - 1px)) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 9px;
  }
}

.App {
  text-align: center;
  font-family: "EB Garamond", serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
button {
  border: none;
  font-family: "Roboto Slab";
}
