@import "./colors.scss";

@mixin text-style {
  font-family: "Roboto Slab", serif;
  font-size: 10px;
}

body {
  @include text-style;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

.home-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
    ". h h h ."
    ". h1 h1 h1 ."
    ". c1 c2 c3 ."
    ". h2 h2 h2 ."
    ". . m . ."
    ". h3 h3 h3 ."
    ". s s s ."
    ". h4 h4 h4 ."
    ". f f f ."
    "b b b b b";
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
  background: linear-gradient(to right, $primary, $secondary);
  padding-top: 7rem;

  h1 {
    font-size: 7rem;
    color: white;
    text-align: center;
  }
  h2 {
    font-size: 7rem;
    width: 10rem;
    color: white;
    text-align: center;
    @media (max-width: 768px) {
      font-size: 6rem;
      width: 7rem;
      padding-left: 3rem;
    }
  }
}

.home-container-responsive {
  @extend .home-container;
  @media (max-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "h h h"
      "h1 h1 h1"
      ". c1 ."
      ". c2 ."
      ". c3 ."
      "h2 h2 h2"
      ". m ."
      "h3 h3 h3"
      "s s s"
      "h4 h4 h4"
      "f f f"
      "b b b";
  }
}
